.wrapper {
  display: flex;
}


#title {
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 87px;
  bottom: 328px;
}


a {
    color: black;
    text-decoration: none;
    text-align: center;
}
