
.main-wrapper {
    background-color: #34374C;
}
.banner{
    display: flex;
    justify-content: center;
}


.rectangle-text {
    margin: 20px auto;
    opacity: 1;
    align-items: center;
}

.banner h1 {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;

}

.wrapper{
    max-width: 1000px;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
}

.btn .btn-secondary{
    align-item:center;
}
