.wrapper-show {
    // background-color: #f6f6f6;
    background-color: #ffffff;

}

.icons{
        font-size: 2em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
 }

 #heart-icon{
     font-size:2.5em;
     padding-right: 26px;
 }

.photo-show{
    min-height:180px;
    background-size: cover !important;
}


.hoursWrapper{
        display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.place {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
}
.place-title {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  h2 {
    font-weight: bold;
  }
}

.main-place-information {
    width: 100vw;
    box-shadow: 1 0 0 0.1px;
    position: relative;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.rating-show {
        font-size: 15px;

}

.description {
    text-align: center;
    background: white;
}

.review-card {
    text-align: left;
  display: flex;
  padding: 0px 20px;
}
.flex-item {
  padding-left: 15px;
}

.filledstars {
  color: #FFD700;
}

.blankstars {
  color: #FFD700;
}

ul.select-options {
  list-style-type: none;
}

#address {
  margin-top: 1em;
    font-size: 1.4em;
    margin-bottom: 0;
    i {
        color:$red;
        margin-top:0.6em;

    }

}

#phone {
   font-size: 1.4em;

    i {
        color:$red;
        margin-top:0.6em;

    }
}

#timetable{
    font-size: 1.4em;

    i {
        color:red;
        margin-top:1em;

    }
}

hr {
    border: 0;
  width: 100%;
  height:1px;
  opacity:0.4;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goto-maps {
    font-size: 2.5em;
    padding-left: 26px;
}
// .select-hidden {
//   display: none;
//   visibility: hidden;
//   padding-right: 10px;
// }

// .select {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   font-size: 16px;
//   color: #fff;
//   width: 300px;
//   height: 40px;
// }

// .select-styled {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: #34374C;
//   padding: 8px 15px;
//   -moz-transition: all 0.2s ease-in;
//   -o-transition: all 0.2s ease-in;
//   -webkit-transition: all 0.2s ease-in;
//   transition: all 0.2s ease-in;
// }
// .select-styled:after {
//   content: "";
//   width: 0;
//   height: 0;
//   border: 7px solid transparent;
//   border-color: #fff transparent transparent transparent;
//   position: absolute;
//   top: 16px;
//   right: 10px;
// }
// .select-styled:hover {
//   background-color: #34374C;
// }
// .select-styled:active, .select-styled.active {
//   background-color: #34374C;
// }
// .select-styled:active:after, .select-styled.active:after {
//   top: 9px;
//   border-color: transparent transparent #fff transparent;
// }

// .select-options {
//   display: none;
//   position: absolute;
//   top: 100%;
//   right: 0;
//   left: 0;
//   z-index: 999;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   background-color: #34374C;
// }
// .select-options li {
//   margin: 0;
//   padding: 12px 0;
//   text-indent: 15px;
//   border-top: 1px solid #34374C;
//   -moz-transition: all 0.15s ease-in;
//   -o-transition: all 0.15s ease-in;
//   -webkit-transition: all 0.15s ease-in;
//   transition: all 0.15s ease-in;
// }
// .select-options li:hover {
//   color: #34374C;
//   background: #fff;
// }
// .select-options li[rel="hide"] {
//   display: none;
// }
.hoursWrapper {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoursBox {
  background: #F6F6F6;
  border-radius: 3px;
}

.hoursContent {
  padding: 20px 30px;
}

.hoursBox hr {
  width: 100%;
  border-bottom: solid 1px #F6F6F6;
}

.hours {
  display: flex;
  justify-content: space-between;
}

.hours ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hours ul:first-child {
  font-weight: 700;
}

.hours ul:last-child {
  font-weight: 100;
}

.hours ul li {
  padding-bottom: 3px;
}
