.wrapper{
 background-color: #F6F6F6;
}

.banner{
  width : 409px;
  height: 279px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;

}

.rectangle-text-content{
  margin-top: 50px;
  width : 300px;
  height: 56px;
  justify-content: center;
  background-color: #2C2E3E;
  border-radius: 6px;
}

.banner h1 {
  text-align: center;
  color: #F6F6F6;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
. p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
