<h1 class="text-center">- Landing Page -</h1>

<p class="text-center">
  This page is aviable also for not logged user!
</p>

<p class="text-center">
  Here we display general info (what we propose and the pourpose) and login stuff
</p>

<ul class="text-center">
  <li class="btn btn-danger">sign in</li>
  <li class="btn btn-info">log in</li>
  <li class="btn btn-primary">log in with facebook</li>
</ul>

<p class="text-center">
  <em>Hi, we are post-meridiem and we want to give all the info bla bla bla</em>
</p>

<br>
<br>

<div class="btn btn-warning" style="width: 100%;">
  <%= link_to "places INDEX", places_path %>
</div>
