<<div id="wrapper">
    <div class="banner" style=background-image:url(https://media1-production-mightynetworks.imgix.net/asset/2143262/andreas-ronningen-29698.jpg?ixlib=rails-0.3.0&fm=jpg&q=75&auto=format&w=1400&h=1400&fit=max)>
        <div class="row">
            <div class="rectangle-text"> <h1>Find quickly near me</h1>
                </div>
            </div>
      </div>
  </div>


    <div class=container>
        <div class=row>
            <div class="col-xs-12">
                <div class="card-rest-category">
                    <div class="card-rest-description">
                    <h2>Restaurants</h2>
                    <p>Healthy food, sushis, burgers...</p>
                    </div>
                        <div class="btn btn-primary">Find</div>
                </div>
            </div>

            <div class="col-xs-12">

            </div>

            <div class="col-xs-12">
            </div>

        </div>
    </div>


</div>
