
<div id="wrapper">
    <div class="banner">
        <div class="row">
            <div class="rectangle-text"><h1>Find quickly near me</h1>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="triangle"></div>
    <div class="trapezium" "></div>
    <div class="info-card">
        <div class="card-description">
        <h3 class="card-category">Restaurants</h3>
            <p>Burgers, sushis, healthy food...</p>
            <a class="btn btn-secondary" >Find</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="triangle"></div>
    <div class="trapezium-bar" "></div>
    <div class="info-card">
        <div class="card-description">
        <h3 class="card-category">Bars</h3>
            <p>Beers, cocktails...</p>
            <a class="btn btn-secondary" >Find</a>
        </div>
    </div>
</div>


<div class="card">
    <div class="triangle"></div>
    <div class="trapezium-cafe" "></div>
    <div class="info-card">
        <div class="card-description">
        <h3 class="card-category">Cafes</h3>
            <p>Tasty cappucinos, american coffee...</p>
            <a class="btn btn-secondary" >Find</a>
        </div>
    </div>
</div>
