<div class="main-wrapper">
    <div class="banner">

        <div class="rectangle-text"><h1>Find quickly near me</h1>

        </div>
    </div>

    <div class="wrapper wrapper-search" >
        <div class="main-card-search">
            <a class="" href="/places?kind=restaurant"></a>
            <div class="card-search" style="
            background-image: linear-gradient(-218deg, rgba(3,2,1,0.2) 20%, rgba(3,2,1,0.3) 40%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNLgpVeHqRwiLfDxVsvXFHYHRePSSM5OR3m1ugkigVHqKT0iaFog);
            background-size: cover !important;
            height: 131px !important;
            width: 100% !important;
            opacity: 0.9;">
            <div class="shapes">
                <div class="triangle"></div>
            </div>
            <div class="info-card">
               <div class="card-description">
                <h3 class="card-category">Restaurants</h3>
                <p>Burgers, sushis, healthy food...</p>

            </div>
        </div>
    </div>
</div>


<div class="main-card-search">
    <a class="" href="/places?kind=bar"></a>
    <div class="card-search" style="
    background-image: linear-gradient(-218deg, rgba(3,2,1,0.2) 20%, rgba(3,2,1,0.3) 40%), url(https://assets.bonappetit.com/photos/57acbeaa1b33404414975151/16:9/w_1200,c_limit/pineapple-hibiscus-cocktail.jpg);
    background-size: cover !important;
    height: 131px !important;
    width: 100% !important;
    opacity: 0.9;">
    <div class="shapes">
        <div class="triangle"></div>
    </div>
    <div class="info-card">
     <div class="card-description">
        <h3 class="card-category">Bars</h3>
        <p>Beers, cocktails...</p>
    </div>
</div>
</div>
</div>



<div class="main-card-search">
    <a class="" href="/places?kind=cafe"></a>
    <div class="card-search" style="
    background-image: linear-gradient(-218deg, rgba(3,2,1,0.2) 20%, rgba(3,2,1,0.3) 40%), url(https://coffee-brewing-methods.com/wp-content/uploads/Latte-art-pexels.jpg);
    background-size: cover !important;
    height: 131px !important;
    width: 100% !important;
    opacity: 0.9;">
    <div class="shapes">
        <div class="triangle"></div>
    </div>
    <div class="info-card">
       <div class="card-description">
           <h3 class="card-category">Cafes</h3>
           <p>Tasty cappucinos, coffee...</p>
       </div>
   </div>
</div>
</div>
</div>

</div>
