
.button-home {
    background: purple;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.btn-pm:hover {
 opacity: 1;
 text-decoration: bold;
 color: #999999;
}

.btn-secondary {
    background-color: #EE2B47;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    width: 62px;
    height: 30px;
    margin: 0 auto;
}

.btn-secondary:hover {
 opacity: 1;
 text-decoration: bold;
 color: #999999;
}
