
.wrapper-search {
    max-width: 1000px;
    margin: 50px auto;
}

.shapes {
    position: relative;
}

.card-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.card-description {
    text-align: center;
    z-index: 1000;
    // position: absolute;
    // bottom: -207px;
    // right: -274px;
    h3 {
        font-size: 18px;
     }
}

.info-card {
    flex-grow: 1;
    color: #34374C;
}



.triangle {
    z-index: 1;
    height: 0;
    width: 0;
    opacity: 0.1;
    border-left: 271px solid #2C2E3E;
    border-right: 100px solid transparent;
    border-top: 120px solid transparent;
}
.trapezium-restaurant {
 z-index: 1;
 width: 353px;
 height: 279px;
 background: url(https://image.freepik.com/free-photo/mixed-raw-pasta-on-black-background_2353-54.jpg) center center ;
 background-size: cover;
 position: absolute;
 top: 0;
 -webkit-clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);
 clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);
}

.trapezium-bar {
 z-index: 0;
 width: 263px;
 height: 279px;
 background: url(https://s3.envato.com/files/207298653/Pouring%20Beer%20on%20Black%20Background%202-preview.jpg) center center;
 background-size: cover;
 position: absolute;
 top: 0;
 -webkit-clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);
 clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);

}

.trapezium-cafe {
 z-index: 1;
 width: 263px;
 height: 279px;
 background: url(https://cdn4.eyeem.com/thumb/d7f6a596d75ec698393952ad654532d7950c2c54-1481364148047/w/650) center center ;
 background-size: cover;
 position: absolute;
 top: 0;
 -webkit-clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);
 clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 100% 0%);
}

.info-card p{
    font-size: 14px;
}

@media only screen and (max-width: 700px) {
    .trapezium-restaurant {
        -webkit-clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 75% 0%);
        clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 75% 0%);
    }
    .triangle {
        border-left: 210px solid #2C2E3E;
        border-right: 0;
        border-top: 120px solid transparent;
    }
}

@media only screen and (max-width: 400px) {
    .card-search {
        display: block;
    }
    .trapezium-restaurant {
        -webkit-clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 75% 0%);
        clip-path: polygon(0% 0%, 0% 43%, 48% 43%, 75% 0%);
    }
    .triangle {
        border-left: 210px solid #2C2E3E;
        border-right: 0;
        border-top: 120px solid transparent;
    }
}

