<h1>places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>
++++++++++++++++++++++++++++++++
<p>total of open places: <%= @places.size %></p>
++++++++++++++++++++++++++++++++


<% @places.each do |place|  %>

  <% if place.google_data["opening_hours"] %>
    <% if place.google_data["opening_hours"]["open_now"] %>

      <br>----
      <%= link_to place.name, place_path(place)  %>
      <br>

      <%= link_to "match", place_matches_path(place, {:place => {:place_id =>  place.id }}), :action => :create, :method => :post %>

    <% end %>
  <% end %>

<% end %>


