<h1>places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>

<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

<% @places.each do |place|  %>
  <div class="tinder--cards">
    <div class="tinder--card">
      <img src=<%= place.photo %>>
      <h3><%= place.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
  </div>
<% end %>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>

