<div class="tinder">



  <div class="tinder--cards">
    <% @places.each do |place|  %>



    <% if place.google_data["opening_hours"] %>
    <% if place.google_data["opening_hours"]["open_now"] %>

    <div class="tinder--card">

      <%= link_to place_path(place) do %>
      <% if place.google_data["photos"] != nil %>
      <% photo_reference = place.google_data["photos"][0]["photo_reference"] %>
      <% url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{photo_reference}&key=AIzaSyBcp8Akff_wtFaa3hLNhsfJk6CGftSdNng"  %>

      <%= image_tag url %>
      <% end %>
      <span>Like</span>
      <% end %>

      <h3>
        <%= link_to place.name, place_path(place)  %>
      </h3>

      <p>places.address</p>
      <p>

       <%= link_to "match it", place_matches_path(place, {:place => {:place_id =>  place.id }}), :action => :create, :method => :post %>
       <i class="fas fa-hand-holding-heart"></i>
     </p>
   </div>

   <% end %>
   <% end %>

   <% end %>
 </div>



