<div class="tinder">
<!--   <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div> -->

  <div class="tinder--cards">
    <% @places.each do |place|  %>

      <% if place.google_data["opening_hours"] %>
        <% if place.google_data["opening_hours"]["open_now"] %>

          <div class="tinder--card">
            <img src="http://i0.kym-cdn.com/photos/images/original/000/741/861/6b4.jpg">
            <h3>
              <%= link_to place.name, place_path(place)  %>
            </h3>

            <p>places.address</p>
            <p>
              <%= link_to "match it", place_matches_path(place, {:place => {:place_id =>  place.id }}), :action => :create, :method => :post %>
              <i class="fas fa-hand-holding-heart"></i>
            </p>
          </div>

        <% end %>
      <% end %>

    <% end %>
  </div>


<!--   <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div> -->
